
.grid-container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'main' 'aside';
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -20px;
  margin-top: -10px;
}

h2[class="grey"]
{
color: lightgrey;
}

p { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 20px;
  display: inline;
  line-height: 30px;;

}

main {
  grid-area: 'main';
  width: 500px;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  padding: 20px;
  margin-right: 20px;
}

aside {
  grid-area: 'aside';
  width: 500px;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  padding: 20px;
}

img {
width: 12%;
float: right;
margin-top: -10px;
border: solid 1px black;
}

hr{
  width: 100%;
  border:1px solid lightgrey;
  }

.button {
  display: flex;
  justify-content: center;
  margin-top: -15px;
margin-bottom: -20px;

}

.blok1
{ width: 150px;
  border: 1px solid green;
  border-radius: 5px 0px 0px 5px;
  text-align: center;
  padding: 15px;
  color: green;
}

.blok2
{ width: 150px;
  border: 1px solid red;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  padding: 15px;
  color: red;
}

